body{
    text-align: center;
    margin: 0px;
    background: white;
    color:black;
}




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: black;
    position: sticky;
    top:0;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}


